body {
  margin: 0;
  background-color: gray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

.btn {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
